<div class="container-fluid footer-social-icons">
  <div class="row">
    <div class="col-4">
      <a href="#">
        <svg class="svg-icon">
          <use xmlns:xlink="http://www.w3.org/2000/svg" xlink:href="#menu1"></use>
        </svg>
      </a>
    </div>
    <div class="col-4">
      <a href="#">
        <svg class="svg-icon">
          <use xmlns:xlink="http://www.w3.org/2000/svg" xlink:href="#menu2"></use>
        </svg>
      </a>
    </div>
    <div class="col-4">
      <a href="#">
        <svg class="svg-icon">
          <use xmlns:xlink="http://www.w3.org/2000/svg" xlink:href="#menu3"></use>
        </svg>
      </a>
    </div>
  </div>
</div>
<div class="container-fluid footer-images">
  <div class="row">
    <div class="col-2">
      <div class="first-image"></div>
      <div class="on-hover-info">
        <div class="on-hover-info-content justify-content-center align-items-center">
          <svg class="svg-icon">
            <use xmlns:xlink="http://www.w3.org/2000/svg" xlink:href="#menu12"></use>
          </svg>
          <span>17</span>
          <svg class="svg-icon">
            <use xmlns:xlink="http://www.w3.org/2000/svg" xlink:href="#menu13"></use>
          </svg>
          <span>1</span>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="second-image"></div>
      <div class="on-hover-info">
        <div class="on-hover-info-content justify-content-center align-items-center">
          <svg class="svg-icon">
            <use xmlns:xlink="http://www.w3.org/2000/svg" xlink:href="#menu12"></use>
          </svg>
          <span>17</span>
          <svg class="svg-icon">
            <use xmlns:xlink="http://www.w3.org/2000/svg" xlink:href="#menu13"></use>
          </svg>
          <span>1</span>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="third-image"></div>
      <div class="on-hover-info">
        <div class="on-hover-info-content justify-content-center align-items-center">
          <svg class="svg-icon">
            <use xmlns:xlink="http://www.w3.org/2000/svg" xlink:href="#menu12"></use>
          </svg>
          <span>17</span>
          <svg class="svg-icon">
            <use xmlns:xlink="http://www.w3.org/2000/svg" xlink:href="#menu13"></use>
          </svg>
          <span>1</span>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="fourth-image"></div>
      <div class="on-hover-info">
        <div class="on-hover-info-content justify-content-center align-items-center">
          <svg class="svg-icon">
            <use xmlns:xlink="http://www.w3.org/2000/svg" xlink:href="#menu12"></use>
          </svg>
          <span>17</span>
          <svg class="svg-icon">
            <use xmlns:xlink="http://www.w3.org/2000/svg" xlink:href="#menu13"></use>
          </svg>
          <span>1</span>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="fifth-image"></div>
      <div class="on-hover-info">
        <div class="on-hover-info-content justify-content-center align-items-center">
          <svg class="svg-icon">
            <use xmlns:xlink="http://www.w3.org/2000/svg" xlink:href="#menu12"></use>
          </svg>
          <span>17</span>
          <svg class="svg-icon">
            <use xmlns:xlink="http://www.w3.org/2000/svg" xlink:href="#menu13"></use>
          </svg>
          <span>1</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid about-me">
  <div class="row">
    <div class="col-2">
      <div class="profile-picture"></div>
    </div>
    <div class="col-5">
      <div class="paragraph">
        <h3>About me</h3>
        <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font</p>
        <a href="#">Read more</a>
      </div>
    </div>
    <div class="col-5">
      <div class="join-me">
        <h3>Join my mailing list</h3>
        <input type="email" name="email" value="" required="required" placeholder="Email Address">
        <button class="subscribe-button" type="button" name="button">Subscribe Now</button>
      </div>
    </div>
  </div>
</div>
