<div class="navbar">

  <div class="mobile-btn" id="mobile-btn">
    <svg class="svg-icon">
      <use xmlns:xlink="http://www.w3.org/2000/svg" xlink:href="#menu10"></use>
    </svg>
  </div>

  <div class="navbar--left" id="mobile-btn">
    <ul class="navbar-items">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Travel</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Eat</a>
      </li>
    </ul>
  </div>

  <div class="navbar--right">
        <ul class="nav-bar__lists">
            <li>
              <a class="nav-bar__lists__link" href="#">
                <svg class="svg-icon">
                  <use xmlns:xlink="http://www.w3.org/2000/svg" xlink:href="#menu1"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="nav-bar__lists__link" href="#">
                <svg class="svg-icon">
                  <use xmlns:xlink="http://www.w3.org/2000/svg" xlink:href="#menu2"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="nav-bar__lists__link" href="#">
                <svg class="svg-icon">
                  <use xmlns:xlink="http://www.w3.org/2000/svg" xlink:href="#menu3"></use>
                </svg>
              </a>
            </li>
        </ul>
  </div>



</div>
