
<div class="mobile-nav" id="mobile-nav">
  <div class="mobile-close-btn" data-closeMobile>
      <svg class="svg-icon" >
        <use xmlns:xlink="http://www.w3.org/2000/svg" xlink:href="#menu11"></use>
      </svg>
  </div>

      <a class="nav-link" href="#">Home</a>
      <a class="nav-link" href="#">About</a>
      <a class="nav-link" href="#">Travel</a>
      <a class="nav-link" href="#">Eat</a>
</div>

<div class="container-fluid top">
  <header class="header">
    <nav class="navbar">
      <ul class="desktop-navbar-items">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Travel</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Eat</a>
        </li>
      </ul>
      <div class="mobile-open-btn" data-openMobile>
          <svg class="svg-icon" >
            <use xmlns:xlink="http://www.w3.org/2000/svg" xlink:href="#menu10"></use>
          </svg>
      </div>
    </nav>
    <div class="social-icons">
          <ul class="nav-bar__lists">
              <li>
                <a class="nav-bar__lists__link" href="#">
                  <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/2000/svg" xlink:href="#menu1"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a class="nav-bar__lists__link" href="#">
                  <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/2000/svg" xlink:href="#menu2"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a class="nav-bar__lists__link" href="#">
                  <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/2000/svg" xlink:href="#menu3"></use>
                  </svg>
                </a>
              </li>
          </ul>
    </div>
  </header>
</div>
