<div class="topbar">

    <nav class="nav-bar nav-bar--left">
      <ul class="nav-bar__lists">
          <li>
            <a class="nav-bar__lists__link" href="#">
          <span>Home</span>
            </a>
          </li>
          <li>
            <a class="nav-bar__lists__link" href="#">
          <span>About</span>
            </a>
          </li>
          <li>
            <a class="nav-bar__lists__link" href="#">
          <span>Travel</span>
            </a>
          </li>
          <li>
            <a class="nav-bar__lists__link" href="#">
          <span>Eat</span>
            </a>
          </li>
      </ul>
    </nav>
    <nav class="nav-bar nav-bar--right">
        <ul class="nav-bar__lists">
            <li>
              <a class="nav-bar__lists__link" href="#">
                <svg class="svg-icon">
                  <use xmlns:xlink="http://www.w3.org/2000/svg" xlink:href="#menu1"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="nav-bar__lists__link" href="#">
                <svg class="svg-icon">
                  <use xmlns:xlink="http://www.w3.org/2000/svg" xlink:href="#menu2"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="nav-bar__lists__link" href="#">
                <svg class="svg-icon">
                  <use xmlns:xlink="http://www.w3.org/2000/svg" xlink:href="#menu3"></use>
                </svg>
              </a>
            </li>
        </ul>
    </nav>
