@import 'variables.scss';
@import 'icons.scss';
@import 'layout.scss';
html{
}
body{
  margin: 0;
  background: $default-bg;
  font: normal normal normal 13px/1.4em 'open sans',sans-serif !important;
}
ul {
  list-style: none;
}

h1,h2,h3,h4,h5{
  margin: 0;
}
