$default-bg: white;
$custom-bg: #00aca8;
$bg-color: rgb(211,211,211);
$nav-height: 67px;
$line-height: 67px;
$input-height: 56px;
$nav-left-width: 600px;
$nav-right-width: 400px;
$desktop-navbar-color: #696969;
$transition: 0.3s;
$border: 1px solid black;
$mid-gray: gray;
$text-color: #000000;
