<div class="container-fluid">
  <div class="bg_image1">
    <div class="bg_image_title">
      <h2>Going Places</h2>
      <h4>Haven't been everywhere, but it's on my list</h4>
    </div>
  </div>
</div>
  <div class="row">
    <div class="col-12">
      <div class="paragraph">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
      </p>
    </div>
    </div>
  </div>
  <div class="row">
  <div class="col-md-4">
    <div class="bg_image2">
      <a class="bg_image__link" href="#">
      <span>Travel</span>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="bg_image3">
    <a class="bg_image__link" href="#">
      <span>Eat</span>
    </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="bg_image4">
    <a class="bg_image__link" href="#">
      <span>Relax</span>
    </a>
    </div>
  </div>
</div>
</div>

<div class="jumbotron jumbotron-fluid">
  <h5 class="featured">
    <span>As featured in</span>
  </h5>
  <h5 class="vertical_line">
    <span></span>
  </h5>
  <h5 class="travel_blog">
    <span class="font-weight-bold">travel</span>
    <span>blog</span>
  </h5>
  <h5 class="plane_tour">
    <div>
      <svg class="svg-icon">
      <use xmlns:xlink="http://www.w3.org/2000/svg" xlink:href="#menu4"></use>
      </svg>
    </div>
    <div><span>PLANE</span><span class="font-weight-bold">TOUR</span></div>
  </h5>
  <h5 class="world_travel font-weight-bold">
    <span>WORLD</span>
    <span>TRAVEL</span>
  </h5>
  <h5 class="skycloud font-weight-bold">
    <div>
      <svg class="svg-icon">
      <use xmlns:xlink="http://www.w3.org/2000/svg" xlink:href="#menu5"></use>
      </svg>
    </div>
    <div>skycloud</div>
  </h5>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 bg-image">
      <img src="assets/images/bg_image5.png" class="img-fluid" alt="">
    </div>
  </div>
</div>

<div class="container post">
  <div class="row">
    <div class="col-12">
      <div class="bg_image_description">
        <div class="user_image">
          <svg class="svg-icon">
          <use xmlns:xlink="http://www.w3.org/2000/svg" xlink:href="#menu6"></use>
          </svg>
        </div>
        <div class="user-role-date-time">
        <div class="user-role">
          <p>Admin</p>
          <svg class="svg-icon">
          <use xmlns:xlink="http://www.w3.org/2000/svg" xlink:href="#menu7"></use>
          </svg>
        </div>
        <div class="date-time">
          <p>Mar 12 . 1min</p>
        </div>
      </div>
    </div>
      <div class="bg_image_info">
      <h2>Silky Sands, Turquoise Surf</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis au</p>
      <hr>
    </div>
  </div>
</div>
<div class="row bg_image_info__footer">
      <div class="col-2">1001 views</div>
      <div class="col-2 comment_link">
        <a href="#">
        <span>Write a comment</span>
        </a>
      </div>
      <div id="like-heart" class="col-8 like-heart">
        <svg class="svg-icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu8"></use>
        </svg>
      </div>
</div>
</div>
