<div class="container-fluid">
  <div class="bg_image1">
    <div class="bg_image_title">
      <h2>Going Places</h2>
      <h4>Haven't been everywhere, but it's on my list</h4>
    </div>
  </div>
  <div class="paragraph">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
  </p>
</div>
  <div class="row">
  <div class="col-sm">
    <div class="bg_image2">
    <a class="bg_image__link" href="#">
      <span>Travel</span>
    </a>
    </div>
  </div>
  <div class="col-sm">
    <div class="bg_image3">
    <a class="bg_image__link" href="#">
      <span>Eat</span>
    </a>
    </div>
  </div>
  <div class="col-sm">
    <div class="bg_image4">
    <a class="bg_image__link" href="#">
      <span>Relax</span>
    </a>
    </div>
  </div>
</div>
</div>
