<div class="container-fluid">
  <div class="bg_image">
    <div class="bg_image_title">
      <h2>Going Places</h2>
      <h4>Haven't been everywhere, but it's on my list</h4>
    </div>
  </div>
</div>
