.footer-social-icons{
  margin-top: 20px;
  text-align: center;
  .row{
    padding: 16px 0px;
    background-color: $custom-bg;
    .col-4{
      svg{
        color: white;
      }
    }
  }
}
.footer-images{
  .row{
    display: flex;
    flex-flow: wrap;
    .col-2{
      min-width: 20%;
      padding: 0;
      .on-hover-info{
        opacity: 0;
        background-color:rgba(0, 0, 0, 0.5);
        color: white;
        position: absolute;
        height: 200px;
        width: 100%;
        top: 0;
        transition: 0.3s ease all;
        .on-hover-info-content{
          height: 100%;
          display: flex;
          svg{
            fill: white;
          }
        }
      }
      .on-hover-info:hover{
        opacity: 1;
        cursor: pointer;
      }
      .first-image{
        position: relative;
        background-image: url(../images/computer-coffee.jpg);
        height: 200px;
        width: auto;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
      .second-image{
        position: relative;
        background-image: url(../images/croissant-strawberries.jpeg);
        height: 200px;
        width: auto;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
      .third-image{
        position: relative;
        background-image: url(../images/nachos.jpg);
        height: 200px;
        width: auto;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
      .fourth-image{
        position: relative;
        background-image: url(../images/palms.jpg);
        height: 200px;
        width: auto;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
      .fifth-image{
        position: relative;
        background-image: url(../images/gin-cocktails.jpg);
        height: 200px;
        width: auto;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
    }
  }
}
.about-me{
  background-color: #7d7a7a;
  padding-top: 50px;
  padding-bottom: 30px;
  .row{
    display: flex;
    flex-flow: wrap;
    .profile-picture{
      background-image: url(../images/photographer.jpg);
      height: 135px;
      width: auto;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-size: cover;
      background-position: center;

    }
    .paragraph{
      padding: 0px 35px;
      p, h3{
        color: white;
        margin-bottom: 19px;
      }
      a{
        color: #8DD6DA;
      }
    }
    .join-me{
      display: inline-grid;
      padding-left: 50px;
      h3{
        color: white;
        margin-bottom: 23px;
      }
      input{
        margin-bottom: 11px;
      }
      button{
        color: white;
        background-color: $custom-bg;
        padding: 6px 0px;
        border: none;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .footer-images .row .col-2{
    min-width: 100%;
  }
  .about-me .row .col-2{
    min-width: 100%;
  }
  .about-me .row .col-5{
    min-width: 100%;
  }
  .about-me .row .profile-picture{
    max-width: 50%;
  }
  .about-me .row .paragraph{
    padding: 20px 35px;
  }
  }
