.top{
  position: relative;
  padding: 0;
  margin: 0;
  top: 0;
}
.mobile-close-btn{
  margin-right: 30px;
  margin-top: 30px;
  text-align: right;
  svg{
    fill: black;
    cursor: pointer;
  }
}
.mobile-open-btn{
  text-align: right;
  margin-right: 30px;
  cursor: pointer;
  svg{
    fill: turquoise;
    cursor: pointer;
  }
}
.header{
  display: flex;
  position: absolute;
  width: 100%;
  background: $bg-color;
  padding: 0;
  box-shadow: inset 0 0 1px #000014;
}
.mobile-nav{
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  background-color: #00aca8;
  overflow-x: hidden;
  transition: $transition;
  a{
    text-align: center;
    padding: 21px 0px;
    color: white;
  }
}
.social-icons{
  height: $nav-height;
  .nav-bar__lists{
    display: flex;
    line-height: $line-height;
    li{
    margin: 0px 20px;
    }
    .nav-bar__lists__link{
      line-height: $line-height;
      text-decoration: none;
      color: $desktop-navbar-color;
      }
    }
  }
.navbar{
  width: calc(75% - 0px);
  height: $nav-height;
  display: inline-block;
  text-align: left;
  line-height: $line-height;
  padding: 0;
  .desktop-navbar-items{
    height: $nav-height;
    display: flex;
    .nav-link{
      padding: 0px 17px;
      font-size: 13px;
      text-decoration: none;
      color: $desktop-navbar-color;
      line-height: $line-height;
    }
  }
}

@media screen and (max-width: 2000px) {
  .mobile-open-btn{
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .mobile-open-btn{
    display: block;
  }
  .container-fluid .header .navbar .desktop-navbar-items{
    display: none;
  }
  .header{
    flex-direction: row-reverse;
  }
  .social-icons{
  }

}
