.topbar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    .nav-bar{
        height: $nav-height;
        background: $bg-color;
        position: relative;
        &--left{
            width: $nav-left-width;
            text-align: center;
            float: left;
        }
        &--right{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            justify-content: center;
            // width: $nav-right-width;

        }
        &__lists{
            display: flex;
            justify-content: space-evenly;
            list-style: none;
            line-height: $line-height;
            li{
              margin: 0px 8px;
            }

            &__link{
                text-decoration: none;
                color: $text-color;
                svg{
                }
            }
          }
        }
      }
